[submodule "modules/infrastructure/lemur"]
	path = modules/infrastructure/lemur
	url = https://github.com/LPGhatguy/lemur.git
[submodule "modules/infrastructure/testez"]
	path = modules/infrastructure/testez
	url = https://github.com/Roblox/testez.git
[submodule "modules/shared/roact"]
	path = modules/shared/roact
	url = https://github.com/Roblox/roact.git
[submodule "modules/shared/Rodux"]
	path = modules/shared/Rodux
	url = https://github.com/Roblox/Rodux
[submodule "modules/shared/RoactRodux"]
	path = modules/shared/RoactRodux
	url = https://github.com/Roblox/roact-rodux
[submodule "src/client"]
	path = src/client
	url = https://github.com/deanphillipsokc/fwp-client-test
